
.result-display {
    height: 30px;  
    width: 308px;
    font-size: 20px;
    overflow: hidden;
}

.number-button, .operation-button, .equals-button, .clear-button {
    height: 30px;
    width: 75px;
    font-size: 20px;
    border-width: 2px;
    border-radius: 15px;
    margin-top: 5px;
    margin-right: 2px;
}
.number-button {
    background-color: rgb(194, 194, 194);
}
.operation-button {
    background-color: orange;
}
.equals-button {
    background-color: rgb(49, 49, 255);
    color: white;
}
.clear-button {
    width: 316px;
}